@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}


<h1 class="display-4">Om Mig</h1>
<div>
    <div>
        <p>
            Hej och välkomna!
            Denna webbsida är skapad av mig, Maja Afzelius, som Moment 1.1 i kursen DT191G. 
            Jag är en 23 år gammal webbutvecklingsstudent som ursprungligen kommer från en liten kommun i södra östergötland vid namnet Ydre.
            Just nu bor jag i Stockholm men innan det spenderade jag två år i Karlskrona studerandes Civilingenjör på BTH.

        </p>
    </div>
</div>


<style>

 </style>
