@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Om Mig</h1>
    <div class="two-column">
        <div>
            <p>
                Info tjoho tjohej
            </p>
        </div>
        <div>
            <img src="https://media.licdn.com/dms/image/C4D03AQH2cAoWjqnHYw/profile-displayphoto-shrink_800_800/0/1647255628152?e=2147483647&v=beta&t=-sn7QXkk0mieDlD4hQ_brfd9Tub6PgzHbJNff9jXxdE" alt="" class="personal-image">
        </div>
    </div>
</div>

<style>

 </style>
