@page

<h1>Razor</h1>

<h2>Kurser:</h2>
<ul>
    @foreach (var course in GetCourseList())
    {
        <li>@course</li>
    }
</ul>

<h2>Datum och klockslag:</h2>
<p>Det är nu @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</p>

@if (DateTime.Now.DayOfWeek == DayOfWeek.Monday)
{
    <p>Idag är det måndag</p>
}
else
{
    <p>Idag är det inte måndag</p>
}

@functions {
    public List<string> GetCourseList()
    {
        // Returnerar en lista med kurser i sträng-format
        return new List<string>
        {
            "DT057G, Webbutveckling I",
            "DT068G, Webbanvändbarhet",
            "DT084G, Introduktion till Programmering i Javascript",
            "DT200G, Grafisk teknik för webb",
            "DT071G, Programmering i C#",
            "DT162G, Javascriptbaserad webbutveckling",
            "DT193G, Fullstack-utveckling med ramverk",
            "IK060G, Projektledning",
            "DT003G, Databaser",
            "DT093G, Webutveckling II",
            "DT173G, Webutveckling III",
            "DT197G, Webbdesign för CMS"
        };
    }
}
